@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Regular/OpenSans-Regular.woff2?v=1.101") format("woff2"), url("../fonts/Regular/OpenSans-Regular.woff?v=1.101") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/SemiBold/OpenSans-SemiBold.woff2?v=1.101") format("woff2"), url("../fonts/SemiBold/OpenSans-SemiBold.woff?v=1.101") format("woff");
  font-weight: 600;
  font-style: normal; }

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding-top: 108px; }

.wrapper {
  overflow-x: hidden; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a:hover {
  text-decoration: none; }

section,
footer {
  padding: 52px 0 67px; }
  @media (max-width: 575px) {
    section,
    footer {
      padding: 32px 0 47px; } }

.bg-white {
  background-color: #ffffff; }

.bg-purple {
  background-color: #453951; }

.bg-gray {
  background-color: #f5f5f5; }

.bg-grim {
  background-color: #2a272e; }

.bg-orange {
  background-color: #ea623d; }

.logo {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3.6px; }
  .logo img {
    margin-right: 9px; }

.sc-main-header {
  color: #333333;
  font-size: 32px;
  font-weight: 400; }
  .sc-main-header--white {
    color: #ffffff; }
  .sc-main-header--small {
    font-size: 20px; }

.sc-sm-header {
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.3px; }
  .sc-sm-header--dark {
    color: #333333; }
  .sc-sm-header--dimmed {
    opacity: .4; }
  .sc-sm-header--white {
    color: #ffffff; }

.sc-header-text {
  color: #666666 !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

.sc-head {
  color: #333333;
  font-size: 18px;
  font-weight: 600; }

.sc-text {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; }
  .sc-text--small {
    font-size: 13px; }
  .sc-text--white {
    color: #ffffff; }
  .sc-text--footer {
    color: #cccccc; }

.btn:focus {
  box-shadow: none;
  outline: none; }

.btn.focus {
  box-shadow: none;
  outline: none; }

.button {
  border-radius: 3px;
  border: 2px solid;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.3px; }
  .button--dark {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
    width: 179px;
    height: 48px; }
    .button--dark:hover, .button--dark:focus, .button--dark:active, .button--dark.active,
    .open > .button--dark.dropdown-toggle {
      color: #333333;
      background-color: #e6e6e6;
      border-color: #adadad; }
    .button--dark:active, .button--dark.active,
    .open > .button--dark.dropdown-toggle {
      background-image: none; }
    .button--dark.disabled, .button--dark.disabled:hover, .button--dark.disabled:focus, .button--dark.disabled:active, .button--dark.disabled.active, .button--dark[disabled], .button--dark[disabled]:hover, .button--dark[disabled]:focus, .button--dark[disabled]:active, .button--dark[disabled].active,
    fieldset[disabled] .button--dark,
    fieldset[disabled] .button--dark:hover,
    fieldset[disabled] .button--dark:focus,
    fieldset[disabled] .button--dark:active,
    fieldset[disabled] .button--dark.active {
      background-color: #ffffff;
      border-color: #cccccc; }
    .button--dark .badge {
      color: #ffffff;
      background-color: #333333; }
  .button--orange {
    color: #ffffff;
    background-color: #ea623d;
    border-color: #ea623d;
    width: 116px;
    height: 38px; }
    .button--orange:hover, .button--orange:focus, .button--orange:active, .button--orange.active,
    .open > .button--orange.dropdown-toggle {
      color: #ffffff;
      background-color: #dc4218;
      border-color: #d33f17; }
    .button--orange:active, .button--orange.active,
    .open > .button--orange.dropdown-toggle {
      background-image: none; }
    .button--orange.disabled, .button--orange.disabled:hover, .button--orange.disabled:focus, .button--orange.disabled:active, .button--orange.disabled.active, .button--orange[disabled], .button--orange[disabled]:hover, .button--orange[disabled]:focus, .button--orange[disabled]:active, .button--orange[disabled].active,
    fieldset[disabled] .button--orange,
    fieldset[disabled] .button--orange:hover,
    fieldset[disabled] .button--orange:focus,
    fieldset[disabled] .button--orange:active,
    fieldset[disabled] .button--orange.active {
      background-color: #ea623d;
      border-color: #ea623d; }
    .button--orange .badge {
      color: #ea623d;
      background-color: #ffffff; }

.icon {
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .icon--orange {
    background-color: #ea623d;
    border: 1px solid #ea623d;
    font-weight: 600;
    width: 39px;
    height: 39px; }
  .icon--dimmed {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    transition: all ease-in .2s; }
    .icon--dimmed:hover {
      color: #453951;
      text-decoration: none; }

.contact-ref {
  color: #ea623d;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px; }
  .contact-ref:hover {
    color: #ea623d; }
  .contact-ref--small {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; }

#back-to-top-btn {
  display: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  font-size: 35px;
  width: 69px;
  height: 69px;
  background-color: #ea623d;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: 2px solid #ea623d;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color; }
  #back-to-top-btn:hover {
    background-color: transparent;
    color: #ea623d; }
  #back-to-top-btn.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance; }

@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
  #back-to-top-btn.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit; }

@keyframes btnExit {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
  @media (max-width: 991px) {
    #back-to-top-btn {
      font-size: 22px;
      width: 50px;
      height: 50px;
      bottom: 15px;
      right: 15px; } }
  @media (max-width: 767px) {
    #back-to-top-btn {
      font-size: 18px;
      width: 40px;
      height: 40px;
      bottom: 6px;
      right: 6px; } }

.header__nav {
  padding: 26px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  max-width: 100%; }
  @media (max-width: 991px) {
    .header__nav {
      padding-left: 15px;
      padding-right: 15px; } }

.header__item {
  padding-right: 7px;
  padding-left: 7px; }
  .header__item--active .header__link {
    color: #333333 !important;
    position: relative; }
    .header__item--active .header__link::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      right: 8px;
      left: 8px;
      height: 2px;
      background-color: #ea623d; }
      @media (max-width: 991px) {
        .header__item--active .header__link::after {
          left: 40%;
          right: 40%; } }

.header__link {
  text-transform: uppercase;
  font-size: 13px;
  color: #666666 !important;
  font-weight: 400;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__link--search {
    display: block; }
    @media (max-width: 991px) {
      .header__link--search {
        display: flex; } }

.header__dropdown-menu .header__link {
  padding: 5px 10px; }

.header__dropdown-menu.show {
  display: flex; }

.header__button {
  border-color: #453951 !important;
  outline: none; }

.header__hamburger {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  vertical-align: middle;
  content: "";
  background: center center / 100% 100% no-repeat;
  position: relative; }
  .header__hamburger--close .header__patty:nth-child(1), .header__hamburger--close .header__patty:nth-child(2) {
    top: 0;
    transform: translateY(0.65em) rotate(45deg); }
  .header__hamburger--close .header__patty:nth-child(3) {
    transform: translateY(-0.5em) rotate(-45deg); }

.header__patty {
  display: block;
  width: 100%;
  height: 2px;
  background: #453951;
  position: absolute;
  transition: all 200ms; }
  .header__patty:nth-child(1) {
    top: 0.3em; }
  .header__patty:nth-child(2) {
    top: 50%;
    transform: translateY(-50%); }
  .header__patty:nth-child(3) {
    bottom: 0.3em; }

.header__about {
  padding: 41px 0 44px; }

.header__breadcrumb {
  margin: 0;
  padding: 0; }

.header__breadcrumb-item {
  font-size: 13px; }
  .header__breadcrumb-item a {
    color: #ffffff; }
    .header__breadcrumb-item a:hover {
      text-decoration: none; }
  .header__breadcrumb-item--active a {
    color: #ffffff;
    opacity: .4; }

.landing__header {
  margin-bottom: 20px; }

.range__header {
  margin-bottom: 41px; }

.range__button {
  padding-left: 28px;
  outline: none;
  font-weight: 600;
  position: relative; }
  .range__button.focus {
    box-shadow: none; }
  .range__button:focus {
    box-shadow: none; }
  .range__button:not(.collapsed) .range__patty:first-of-type, .range__button:not(.collapsed) .range__patty:last-of-type {
    transform: rotate(90deg); }
  .range__button:not(.collapsed) .range__patty:last-of-type {
    opacity: 0; }

@media (max-width: 991px) {
  .range__accordion {
    margin-bottom: 20px; } }

.range__accordion-header {
  border-bottom: 1px solid #e5e5e5; }

.range__icon {
  color: #ea623d;
  margin-right: 10px; }

.range__patty {
  position: absolute;
  transition: .3s;
  background: #ea623d;
  border-radius: 2px; }
  .range__patty:first-of-type {
    top: 26%;
    bottom: 26%;
    width: 3px;
    left: 7px; }
  .range__patty:last-of-type {
    left: 0;
    right: 25%;
    height: 3px;
    width: 17px;
    top: 45%; }

.range__card-body {
  padding-left: 30px;
  border-bottom: 1px solid #e5e5e5; }

.range__cap {
  padding: 8px 0 7px;
  border-bottom: 2px solid #cccccc;
  position: relative; }
  .range__cap::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    height: 2px;
    background-color: #453951; }
  .range__cap--photo::after {
    width: 95%; }
  .range__cap--ill::after {
    width: 90%; }
  .range__cap--in::after {
    width: 60%; }
  .range__cap--after::after {
    width: 45%; }

.advantages__header {
  margin-bottom: 50px; }
  .advantages__header p {
    max-width: 735px; }

.advantages__advantage {
  position: relative;
  padding-left: 53px; }

.advantages__icon {
  position: absolute;
  top: 0;
  left: 0; }

.slider__item {
  padding: 185px 0; }
  @media (max-width: 767px) {
    .slider__item {
      padding: 135px 0; } }

.slider__caption {
  left: 50%;
  top: 50%;
  bottom: unset;
  transform: translate(-50%, -50%);
  padding: 0;
  right: unset; }

.slider__blockquote {
  max-width: 830px; }
  .slider__blockquote-header {
    margin-bottom: 8px;
    line-height: 45px; }
    @media (max-width: 767px) {
      .slider__blockquote-header {
        font-size: 22px;
        line-height: 30px; } }

.slider .carousel-indicators {
  bottom: 30px; }
  .slider .carousel-indicators li {
    width: 8px;
    height: 8px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: #453951; }
    .slider .carousel-indicators li.active {
      background-color: #ffffff; }
  @media (max-width: 575px) {
    .slider .carousel-indicators {
      display: none; } }

.staff__header {
  margin-bottom: 30px; }

.staff__position {
  padding-top: 18px;
  border-bottom: 1px solid #e5e5e5; }

.staff__socials {
  padding-top: 10px; }
  .staff__socials a {
    margin-right: 20px; }
    .staff__socials a i {
      transition: all ease-in .5s;
      color: #999999; }
    .staff__socials a:hover i {
      color: #333333; }

.clients__logo {
  margin-bottom: 30px; }

.follow__button {
  margin-left: 50px;
  min-width: 152px; }
  @media (max-width: 767px) {
    .follow__button {
      margin-left: 0; } }

.newsletter__item {
  margin-right: 15px; }

.newsletter__socials h4 {
  margin-right: 30px; }

.newsletter__label {
  margin-right: 30px; }

.newsletter__input {
  border-radius: 2px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  margin-right: 5px; }
  .newsletter__input::placeholder {
    color: #ffffff;
    opacity: .4;
    font-size: 13px; }
  .newsletter__input:focus {
    background: transparent;
    border-color: #ffffff;
    box-shadow: none;
    color: #ffffff; }

.footer__logo {
  margin-bottom: 27px; }

.footer__contact-header {
  margin-bottom: 25px; }

.footer__contact-mail {
  margin-bottom: 10px; }

.footer__twitter-header {
  font-size: 11px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  color: #545158; }

.footer__photo {
  width: 81px;
  height: 81px; }

/*# sourceMappingURL=../dist/css/style.css.map */
