.advantages {

    &__header {
        margin-bottom: 50px;

        p {
            max-width: 735px;
        }
    }

    &__advantage {
        position: relative;
        padding-left: 53px;
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
    }
}