.follow {

    &__button {
        margin-left: 50px;
        min-width: 152px;

        @media (max-width: 767px) {
            margin-left: 0;
        }
    }
}

.newsletter {

    &__item {
        margin-right: 15px;
    }

    &__socials {

        h4 {
            margin-right: 30px;
        }
    }

    &__form {}

    &__label {
        margin-right: 30px;
    }

    &__input {
        border-radius: 2px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        background: transparent;
        margin-right: 5px;

        &::placeholder {
            color: $white;
            opacity: .4;
            font-size: 13px;
        }

        &:focus {
            background: transparent;
            border-color: $white;
            box-shadow: none;
            color: $white;
        }
    }
}