.footer {

    &__logo {
        margin-bottom: 27px;
    }

    &__contact-header {
        margin-bottom: 25px;
    }

    &__contact-mail {
        margin-bottom: 10px;
    }

    &__twitter-header {
        font-size: 11px;
        line-height: 23px;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        color: $december-color;
    }

    &__photo {
        width: 81px;
        height: 81px;
    }
}