body {
    background-color: $white;
    font-family: 'Open Sans',
        sans-serif;
    padding-top: 108px;
}

.wrapper {
    overflow-x: hidden;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {

    &:hover {
        text-decoration: none;
    }
}

section,
footer {
    padding: 52px 0 67px;

    @media (max-width: 575px) {
        padding: 32px 0 47px;
    }
}

.bg-white {
    background-color: $white;
}

.bg-purple {
    background-color: $purple-bg-color;
}

.bg-gray {
    background-color: $section-bg-gray;
}

.bg-grim {
    background-color: $footer-bg-color;
}

.bg-orange {
    background-color: $icons-color;
}

.logo {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3.6px;

    img {
        margin-right: 9px;
    }
}

.sc-main-header {
    color: $header-color;
    font-size: 32px;
    font-weight: 400;

    &--white {
        color: $white;
    }

    &--small {
        font-size: 20px;
    }
}

.sc-sm-header {
    color: $small-header-color;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.3px;

    &--dark {
        color: $header-color;
    }

    &--dimmed {
        opacity: .4;
    }

    &--white {
        color: $white;
    }
}

.sc-header-text {
    color: $text-color !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.sc-head {
    color: $header-color;
    font-size: 18px;
    font-weight: 600;
}

.sc-text {
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    &--small {
        font-size: 13px;
    }

    &--white {
        color: $white;
    }

    &--footer {
        color: $footer-text-color;
    }
}

.btn {

    &:focus {
        box-shadow: none;
        outline: none;
    }

    &.focus {
        box-shadow: none;
        outline: none;
    }
}

.button {
    border-radius: 3px;
    border: 2px solid;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.3px;

    &--dark {
        @include button-variant($gray20, $white, $gray80);
        width: 179px;
        height: 48px;

    }

    &--orange {
        @include button-variant($white, $orange, $orange);
        width: 116px;
        height: 38px;
    }
}

.icon {
    border-radius: 50%;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    &--orange {
        background-color: $icons-color;
        border: 1px solid $icons-color;
        font-weight: 600;
        width: 39px;
        height: 39px;
    }

    &--dimmed {
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.2);
        transition: all ease-in .2s;

        &:hover {
            color: $purple-bg-color;
            text-decoration: none;
        }
    }
}

.contact-ref {
    color: $icons-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

    &:hover {
        color: $icons-color;
    }

    &--small {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}

#back-to-top-btn {
    display: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
    font-size: 35px;
    width: 69px;
    height: 69px;
    background-color: $icons-color;
    color: $white;
    cursor: pointer;
    outline: none;
    border: 2px solid $icons-color;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;

    &:hover {
        background-color: transparent;
        color: $icons-color;
    }

    &.btnEntrance {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: btnEntrance;
    }

    @keyframes btnEntrance {
        from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    &.btnExit {
        animation-duration: 0.25s;
        animation-fill-mode: both;
        animation-name: btnExit;
    }

    @keyframes btnExit {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
    }

    @media (max-width: 991px) {
        font-size: 22px;
        width: 50px;
        height: 50px;
        bottom: 15px;
        right: 15px;
    }

    @media (max-width: 767px) {
        font-size: 18px;
        width: 40px;
        height: 40px;
        bottom: 6px;
        right: 6px;
    }
}