.header {

    &__nav {
        padding: 26px 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        max-width: 100%;

        @media (max-width: 991px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &__item {
        padding-right: 7px;
        padding-left: 7px;

        &--active {

            .header__link {
                color: $header-color !important;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    bottom: 0;
                    right: 8px;
                    left: 8px;
                    height: 2px;
                    background-color: $icons-color;

                    @media (max-width: 991px) {
                        left: 40%;
                        right: 40%;
                    }
                }
            }
        }
    }

    &__link {
        text-transform: uppercase;
        font-size: 13px;
        color: $text-color !important;
        font-weight: 400;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &--search {
            display: block;

            @media (max-width: 991px) {
                display: flex;
            }
        }
    }

    &__dropdown-menu {

        .header__link {
            padding: 5px 10px;
        }

        &.show {
            display: flex;
        }
    }

    &__button {
        border-color: $purple-bg-color !important;
        outline: none;
    }

    &__hamburger {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        vertical-align: middle;
        content: "";
        background: center center / 100% 100% no-repeat;
        position: relative;

        &--close {

            .header__patty {

                &:nth-child(1),
                &:nth-child(2) {
                    top: 0;
                    transform: translateY(0.65em) rotate(45deg);
                }

                &:nth-child(3) {
                    transform: translateY(-0.5em) rotate(-45deg);
                }
            }
        }
    }

    &__patty {
        display: block;
        width: 100%;
        height: 2px;
        background: $purple-bg-color;
        position: absolute;
        transition: all 200ms;

        &:nth-child(1) {
            top: 0.3em;
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 0.3em;
        }
    }

    &__about {
        padding: 41px 0 44px;
    }

    &__breadcrumb {
        margin: 0;
        padding: 0;
    }

    &__breadcrumb-item {
        font-size: 13px;

        a {
            color: $white;

            &:hover {
                text-decoration: none;
            }
        }

        &--active {

            a {
                color: $white;
                opacity: .4;
            }
        }
    }
}