.range {

    &__header {
        margin-bottom: 41px;
    }

    &__button {
        padding-left: 28px;
        outline: none;
        font-weight: 600;
        position: relative;

        &.focus {
            box-shadow: none;
        }

        &:focus {
            box-shadow: none;
        }

        &:not(.collapsed) {

            .range__patty {

                &:first-of-type,
                &:last-of-type {
                    transform: rotate(90deg);
                }

                &:last-of-type {
                    opacity: 0;
                }
            }
        }
    }

    &__accordion {

        @media (max-width: 991px) {
            margin-bottom: 20px;
        }
    }

    &__accordion-header {
        border-bottom: 1px solid $gray90;
    }

    &__icon {
        color: $icons-color;
        margin-right: 10px;
    }

    &__patty {
        position: absolute;
        transition: .3s;
        background: $icons-color;
        border-radius: 2px;

        &:first-of-type {
            top: 26%;
            bottom: 26%;
            width: 3px;
            left: 7px;
        }

        &:last-of-type {
            left: 0;
            right: 25%;
            height: 3px;
            width: 17px;
            top: 45%;
        }
    }

    &__card-body {
        padding-left: 30px;
        border-bottom: 1px solid $gray90;
    }

    &__cap {
        padding: 8px 0 7px;
        border-bottom: 2px solid $gray80;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            display: block;
            height: 2px;
            background-color: $purple-bg-color;

        }

        &--photo {

            &::after {
                width: 95%;
            }
        }

        &--ill {

            &::after {
                width: 90%;
            }
        }

        &--in {

            &::after {
                width: 60%;
            }
        }

        &--after {

            &::after {
                width: 45%;
            }
        }
    }
}