.slider {

    &__item {
        padding: 185px 0;

        @media (max-width: 767px) {
            padding: 135px 0;
        }
    }

    &__caption {
        left: 50%;
        top: 50%;
        bottom: unset;
        transform: translate(-50%, -50%);
        padding: 0;
        right: unset;
    }

    &__blockquote {
        max-width: 830px;

        &-header {
            margin-bottom: 8px;
            line-height: 45px;

            @media (max-width: 767px) {
                font-size: 22px;
                line-height: 30px;
            }
        }
    }

    .carousel-indicators {
        bottom: 30px;

        li {
            width: 8px;
            height: 8px;
            border: 1px solid $white;
            border-radius: 50%;
            background-color: $purple-bg-color;

            &.active {
                background-color: $white;
            }
        }

        @media (max-width: 575px) {
            display: none;
        }
    }
}