.staff {

    &__header {
        margin-bottom: 30px;
    }

    &__position {
        padding-top: 18px;
        border-bottom: 1px solid $borders-bottom;
    }

    &__socials {
        padding-top: 10px;

        a {
            margin-right: 20px;


            i {
                transition: all ease-in .5s;
                color: $gray60;
            }

            &:hover {

                i {
                    color: $gray20;
                }
            }
        }
    }
}