//      COLOR VARIABLES     //

$white: #ffffff;
$gray20: #333333;
$gray40: #666666;
$gray60: #999999;
$gray80: #cccccc;
$gray90: #e5e5e5;
$orange: #ea623d;
$blue-1: #b1abb6;
$blue-2: #453951;
$blue-3: #6d6872;
$blue-4: #545158;
$blue-5: #2a272e;
$white-smoke: #f5f5f5;

$header-color: $gray20;
$small-header-color: $gray60;
$text-color: $gray40;
$icons-color: $orange;
$purple-bg-color: $blue-2;
$borders-bottom: $gray90;
$footer-text-color: $gray80;
$section-bg-gray: $white-smoke;
$december-color: $blue-4;
$footer-bg-color: $blue-5;