@font-face {
    font-family: "Open Sans";
    @include fontdef($OpenSansPath, $OpenSansVersion, "Regular");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    @include fontdef($OpenSansPath, $OpenSansVersion, "SemiBold");
    font-weight: 600;
    font-style: normal;
}